body {
  margin: 0;
  padding: 0;
  color: #fff;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vh;
  background-color:#392759;
  margin: 25vh auto;
  border-radius: 1rem;
}

#left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#home-score {
  background-color: #000;
  width: 50px;
}

.add-points-btns{
  background-color: red;
  padding: .5rem;
}

.btn {
  padding: 1rem;
  border-radius: .3rem;
}